[submodule "plugins/nerdcommenter"]
	path = plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "plugins/nerdtree"]
	path = plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugins/subertab"]
	path = plugins/subertab
	url = https://github.com/ervandew/supertab.git
[submodule "plugins/vim-fugitive"]
	path = plugins/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "plugins/git-gutter"]
	path = plugins/git-gutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "plugins/YouCompleteMe"]
	path = plugins/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "plugins/ctrlp"]
	path = plugins/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "plugins/pathogen"]
	path = plugins/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "plugins/speeddating"]
	path = plugins/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "plugins/vim-airline"]
	path = plugins/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "plugins/tagbar"]
	path = plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "plugins/ycm-generator"]
	path = plugins/ycm-generator
	url = https://github.com/rdnetto/YCM-Generator.git
